.typewriter h1 {
    font-family: 'Rowdies', cursive;
    font-size: 53px;
}

.text-hero-page span {
    margin: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding: 0 20px;
}

.text-hero-page {
  margin: 10px;
}

.logo {
  font-family: 'Alegreya', serif;
  font-size: 30px;
  top: 0;
  left: 0;
  position: absolute;
}

.logo:hover {
  transform: scale(1.2);
}

/* FONTS */
/* font-family: 'Alegreya', serif;
font-family: 'Poppins', sans-serif; */

/* TYPEWRITER EFFECT */
.typewriter h1 {
    color: #fff;
    overflow: hidden; 
    border-right: .10em solid hsl(261, 78%, 39%); 
    white-space: nowrap; 
    margin: 20px auto; 
    letter-spacing: .05em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
    padding: 10px;
  } 
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } 
  
 @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: hsl(0, 28%, 30%) }
  }

.text-hero-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 30px 30px 30px;
}


/* LINK */
.email a {
    color: hsl(18, 22%, 82%)
}

.email a:hover {
    color: hsl(0, 28%, 30%);
}

@media (max-width: 800px) {
    .typewriter {
        display: flex;
        flex-direction: column;
    }
} 


@media (max-width: 600px) {
    .text-hero-page span {
        font-size:16px;
        margin: 7px;
        
    }

    .typewriter h1 {
        color: #fff;
        overflow: hidden; 
        border-right: .15em solid hsl(261, 78%, 39%); 
        white-space: nowrap; 
        margin: 10px auto; 
        letter-spacing: .05em; 
        animation: 
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
        padding: 5px;
        margin: 50px 0 30px 0;
        font-size:25px;
      } 
      
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      } 
      
     @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: hsl(0, 28%, 30%) }
      }
} 