.project-container {
    background-color: #2f2f2f;
    min-height: 90vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 120px 120px 50px 120px;
}

* {
    box-sizing: border-box;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f9f9;
}

.project-container h2 {
    color: #d6d4d4;
    margin: 15px 0;
    
}

.border {
    width: 355px;
    border-bottom: #757575 .5px solid;
}

.project-container p {
    color: #c4c1c1;
    font-size: 22px;
}

.project-container li {
    color: #969494;
}

.project-list-itens li {
    font-size: 20px;
    margin: 4px;
}

.project-container h1 {
    display: flex;
    margin: 0px 10px 10px 10px;
    font-size: 48px;
    color: hsl(334, 26%, 54%);
  font-family: 'Rowdies', cursive;
}

.project-link {
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  .project-button {
    width: fit-content;
    background-color: hsl(334, 26%, 34%);
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 10px;
  }

  .project-button-div {
    display: flex;
    justify-content: center;
}
