.project-container {
    background-color: #2f2f2f;
    min-height: 90vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 120px 120px 50px 120px;
}

* {
    box-sizing: border-box;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f9f9;
}

.project-container h2 {
    color: #d6d4d4;
    margin: 15px 0;
    
}

.border-project {
    width: 345px;
    border-bottom: #757575 .5px solid;
}

.project-container p {
    color: #c4c1c1;
    font-size: 22px;
}

.project-container li {
    color: #afafaf;
}

.project-list-itens li {
    font-size: 20px;
    margin: 4px;
}

.project-container h1 {
    display: flex;
    margin: 0px 10px 10px 10px;
    font-size: 48px;
    color: hsl(334, 26%, 54%);
  font-family: 'Rowdies', cursive;
}

.project-link {
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  .project-button {
    width: fit-content;
    background-color: hsl(334, 26%, 34%);
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px 10px 60px 10px;
    box-shadow: 0 0 5px 0 #4d4c4c;
  }

  .project-button:hover, .project-button:focus {
    background-color: hsl(334, 26%, 24%);
    color: black;
    cursor: pointer;
  }

  .project-button-div {
    display: flex;
    justify-content: center;
}

/* .items-navbar {
    background: hsl(334, 26%, 34%);
  } */

@media (max-width: 600px) {
    .border-project {
        width: 285px;
        border-bottom: #757575 .5px solid;
    }  

    .project-container {
        padding: 90px 30px 30px 30px;
        margin: 0;
    }   
    
    .project-container h1 {
        font-size: 28px;
    }
    .project-container h2 {
        font-size: 20px;
    }
    .project-container p {
        font-size: 17px;
    }
    
    .project-container li {
        font-size: 16px;
    }
 
    .logo {
        margin: 15px 10px 0px 25px;
      }

}