.container-navbar ul {
    list-style-type: none;
}

.items-navbar {
    display: flex;
    margin: 15px;
    color: white;
    position: absolute;
    z-index: 1;
    right: 0;
}

.items-navbar li {
    margin: 5px 25px;
    color: white;
    
}

.items-navbar a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-family: Poppins;
}

.items-navbar:hover {
    cursor: pointer;
    
}

.items-navbar li::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .items-navbar li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .items-navbar li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(334, 26%, 34%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  /* .items-navbar::after {
    text-decoration: underline;
  } */

  .items-navbar li {
    position: relative;
  }

.logo {
  font-family: 'Alegreya', serif;
  font-size: 30px;  
  top: 0;
  left: 0;
  position: absolute;
  color: #fff;
  z-index: 1;
  margin: 10px 10px 0 10px;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

  @media (max-width: 600px) {
    .items-navbar {
        font-size:16px;
        margin: 22px 5px 20px 20px;
    }

    .items-navbar li {
        margin: 5px 17px 5px 13px;
    }
}

@media (min-width: 800px) {
  .logo {
    font-size: 44px;  
    margin-left: 25px;
  }
  .items-navbar {
    font-size:25px;
    margin: 20px 18px 20px 20px;
}

}

