.container-navbar ul {
    list-style-type: none;
}

.items-navbar {
    display: flex;
    margin: 15px;
    color: white;
    position: absolute;
    z-index: 1;
    right: 0;
}

.items-navbar li {
    margin: 5px 25px;
    
}

.items-navbar:hover {
    cursor: pointer;
    
}

li::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(334, 26%, 34%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  li {
    position: relative;
  }



  @media (max-width: 600px) {
    .items-navbar {
        font-size:16px;
        margin: 20px 0 20px 20px;
    }

    .items-navbar li {
        margin: 5px 20px;
        
    }
}