body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    box-sizing: border-box;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  :root {
    --purple-app: hsl(261, 78%, 39%);
    --light-app: hsl(18, 22%, 82%); 
    --pink-app: hsl(334, 26%, 34%);
  }